@import '../../css/site.css';
@import "../../css/btn.css";


#customers {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

#add-customer {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#add-customer button{
    grid-column: span 4;
    cursor: pointer;
}
label {
    grid-column: span 2;
    font-weight:800;
    font-size: 1.2rem;
    color: #333
}

.card {
    border: solid 1px orange;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #333;
    text-align: center;
}


@media (min-width: 960px) {
    #customers {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1280px) {
    #customers {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 900px) {
    body h3 {
      font-size: 5rem;
      z-index: -1;
    }
  }

@media (max-width: 960px) {
    nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    nav ul li{
        width: 45%;
        text-align: center;
    }
}