header h1 {
    text-align: start;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
  }
  
  header nav ul {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
  }
  
  header nav a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.6s ease;
  }
  
  header h1:hover {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
  }